<div id="<%= dom_id article %>">
  <h1>
    <%= article.browser %>
  </h1>

  <p>
    <%= article.hat %>
  </p>

  <p>
    <strong>Points positifs : </strong>
    <%= article.pro %>
  </p>

  <p>
    <strong>Points negatifs : </strong>
    <%= article.con %>
  </p>

  <img src=<%= article.image %>>


</div>
