<div id="<%= dom_id article %>">
  <p>
    <strong>Titre : </strong>
    <%= article.browser %>
  </p>

  <p>
    <strong>Chapo : </strong>
    <%= article.hat %>
  </p>

  <p>
    <strong>Point positif : </strong>
    <%= article.pro %>
  </p>

  <p>
    <strong>Point negatif : </strong>
    <%= article.con %>
  </p>

  <img src=<%= article.image %>>


</div>
