<style>
p{
  font-family: arial;
}
</style>

<a href="/" class="d-flex mb-lg-0 text-white text-decoration-none bg-black">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        <img src="https://cdn.discordapp.com/attachments/1016684817817018439/1081165769343254558/logo_medieval.png" style="width:100px">
        </a>

<div class="bg-black" style="padding-bottom: 75px; color:white">
<div id="<%= dom_id article %>" style="margin-left:60px; ">
  <h1 style="font-size: 80px; font-family:palatino; padding-top:50px">
    <%= article.browser %>
  </h1>
   <img src=<%= article.image %> style="height:600px; width:600px; margin-bottom:50px; margin-left:60px;  border: 50px solid; border-image: url('https://cdn.discordapp.com/attachments/1016684817817018439/1081206253612716055/cadre-removebg-preview.png') 20%;" class="vw-90">



  <p style="margin-left:60px; margin-bottom:100px; font-weight:bold; font-size: 30px; width:600px">
    <%= article.hat %>
  </p>
<h2 style="width: 250px; margin-bottom:20px; border-width: 1px; border-color: gold; border-bottom-style: solid">Points forts :<br> </h2>
  <p style="margin-bottom:50px; width:60vw; font-size:20px">

    <%= article.pro %>
  </p>
<h2 style="width:250px; margin-bottom:20px; border-width: 1px; border-color: gold; border-bottom-style: solid; ">Points faibles :<br> </h2>
  <p style="margin-bottom:50px; width:60vw; font-size:20px">
    <%= article.con %>
  </p>

 


</div>
</div>
