<div id="<%= dom_id article %>">
  <p>
    <strong>Browser:</strong>
    <%= article.browser %>
  </p>

  <p>
    <strong>Hat:</strong>
    <%= article.hat %>
  </p>

  <p>
    <strong>Pro:</strong>
    <%= article.pro %>
  </p>

  <p>
    <strong>Con:</strong>
    <%= article.con %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= article.image %>
  </p>

</div>
