<style>
.button-link a{
  text-decoration:none;
  color:white;
  font-weight:bold;
}
html,body
{
  background-color:black;
  color:white;
}

</style>
<p style="color: green"><%= notice %></p>



<div class="d-flex flex-wrap  justify-content-lg-start" >
        <a href="/" class="d-flex  mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        <img src="https://cdn.discordapp.com/attachments/1016684817817018439/1081165769343254558/logo_medieval.png" style="width:100px">
        </a>

      </div>


    </div>
      <h1 style="font-family: 'Courier New', cursive; font-size:100px; margin-top: 100px; margin-left:120px">MATACALL</h1>


<div id="articles" class="d-flex flex-wrap" style="margin-left:60px">
  <% @articles.each do |article| %>
  <div class="card w-25 m-4 d-flex flex-column justify-content-between bg-dark"  style="border: 20px solid; border-image: url('https://cdn.discordapp.com/attachments/1016684817817018439/1081206253612716055/cadre-removebg-preview.png') 25%; ">
    <img class="card-img-top" src=<%= article.image %>>
    <div class="card-body">
  <h1 class="card-title">
    <%= article.browser %>
  </h1>

  <p class="card-text">
    <%= article.hat %>
  </p>

    <p class="button-link w-50 p-1 rounded-pill btn btn-warning text-center text-decoration-none">
      <%= link_to "Show this article", article %>
    </p>
  </div>
  </div>
  <% end %>


</div>
<div class="button-link w-22 m-4 p-3 rounded-pill btn btn-warning text-center text-decoration-none">
<%= link_to "New article", new_article_path %>
</div>