<!DOCTYPE html>
<html>
  <head>
    <title>BlogNavigateur</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<<<<<<< HEAD
=======

>>>>>>> 733ce80c692911d401c07a6d8fe0f87f0cdc100b
    <%= yield %>
  </body>
</html>
