<!DOCTYPE html>
<html>
  <head>
    <title>BlogNav</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body background="https://cdn.discordapp.com/attachments/1016684817817018439/1081247361248002088/Gradient.png" style="background-repeat:no-repeat; background-size: cover; ">

    <%= yield %>

  </body>
</html>
